<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light fixed-top ">
        <a class="navbar-brand" href="/"><img src="http://images.pitchero.com/ui/403686/1453901187_4275.jpg"
                height="70px" width="70px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <form id="demo-2" action="{% url 'search_results'%}"  class="form-inline my-2 my-sm-0">
                <input type="search" placeholder="Search" name="name">
            </form>
        </div>
        <a href="/profile" style="text-decoration: none; color:aliceblue">
            <div class="text-center">
                {% if user.is_authenticated %}
                {% if user.profile.pro_photo %}
                <section style="margin-right:20px;"><img src="{{user.profile.pro_photo.url}}" alt="Avatar" class="img-responsive"
                        style="border-radius:100%; height:40px; width: 40px;">{{user.username}}</section>
                {% else %}
                <section style="margin-right:20px;"><img src="https://mbtskoudsalg.com/images/user-avatar-png-1.png"
                        height="50" width="50" alt="avatar" class="rounded-circle img-responsive">{{user.username}}</section>
                {% endif %}
            </div>
        </a>



        <button class="btn btn-primary"><a href="/upload" style="text-decoration:none;color:beige">Submit project</a></button>
        {% else %}
        <div class="btn btn-primary"><a href="/accounts/login" style="text-decoration:none; color:aliceblue">Login</a></div>
        <div class="btn btn-primary"><a href="/signup" style="text-decoration:none; color:aliceblue">Register</a></div>
        {% endif %}



    </nav>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>



    <br>
      <br><br><br>

</body>

</html> 