{%extends 'base.html'%} {% load bootstrap4 %}{{block.super}} {{form.media}}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block content %}
<div class="container">

    <div class="row" style="margin-top:10px; text-align: center;">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-3">
                    <h5>Usability</h5>
                    <p>awesome</p>
                </div>
                <div class="col-md-3">
                    <h5>Content</h5>
                    <p>awesome</p>
                </div>
                <div class="col-md-3">
                    <h5>Creativity</h5>
                    <p>awesome</p>
                </div>
                <div class="col-md-3">
                    <h5>Design</h5>
                    <p>awesome</p>
                </div>
            </div>
            <div class="hovereffect">
                <img src="{{project.screenshot.url}}" class="img-responsive" width="800" height="500" id="img">

                <div class="overlay">
                    <h2 class="text-center"> {{ project.name}}</h2>
                    <a class="info"> Usability </a>
                    <a class="info"> Design </a>
                    <a class="info"> Creativity </a>
                    <a class="info"> Content</a>
                </div>
            </div>


            <h3>Comments</h3>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
                Rate
            </button>
            <div class="collapse" id="collapseExample">

                <form action="" method="project" enctype="multipart/form-data">
                    {%csrf_token%}

                    {% bootstrap_form rate %}

                    <button class='btn btn-primary' type='submit'>rate</button>
                </form>

            </div>
            {% for comm in project.comments.all %}

            <p><strong><a href="/profiles/{{project.user.id}}" >{{ comm.user.username }}</a></strong>:{{comm.comment}}
            </p>
            {% endfor %}

            <form id='comment' action="/comment/{{project.id}}" method="post" enctype="multipart/form-data">
                {%csrf_token%}
                {% bootstrap_form comment_form %}
                <input type="submit" class="btn btn-primary btn-sm" value="comment">
            </form>


            </p>




        </div>
        <div class="col-md-1">

        </div>

    </div>
</div>



{% endblock %}